<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="90">
    <title>Departures</title>
    <link rel="stylesheet" th:href="@{/css/departures.css}">

</head>

<body>
<h1>Departures</h1>
<div>Last updated: <span th:text="${lastUpdated}">Zuletzt aktualisiert</span></div>
<table>
    <thead>
    <tr>
        <th>Label</th>
        <th>From</th>
        <th>Destination</th>
        <th>Planned</th>
        <th>Live</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="departure : ${departures}">
        <!-- The departure label with dynamically added color class -->
        <td>
        <span class="departure-label"
              th:classappend="${departure.label == '19' ? 'label-red' : (departure.label == '18' ? 'label-green' : ((departure.label == '153' || departure.label == '53' || departure.label == '63') ? 'label-blue' : 'label-fallback'))}"
              th:text="${departure.label}"></span>
        </td>
        <!-- Source      -->
        <td th:text="${departure.source}"></td>
        <!-- Destination -->
        <td th:text="${departure.destination}"></td>
        <!-- Planned departure time -->
        <td th:text="${departure.plannedDepartureTime}"></td>
        <!-- Realtime departure time (if any) -->
        <td th:style="${departure.realtimeDepartureTime > departure.plannedDepartureTime} ?
              'color: red;' :
              'color: green;'">
            <span th:text="${departure.realtimeDepartureTime}"></span>
<!--            <span th:text="${departure.diffMinutes > 0? '(+'+departure.diffMinutes.toString()+')': ''}"></span>-->
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
